.no-login-catalog-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
    height: 100vh;
    margin-right: 100px;
    margin-left: 100px;
}

.no-login-catalog-container .catalog-actions {
    
    width: 95%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    justify-content: space-between;
}

.catalog-actions .filtering {
    display: flex;
    align-items: center;
    gap: 10px;
}

.catalog-actions .right-icons {
    display: flex;
    justify-self: right;
    align-items: center;
    gap: 20px;
}

.catalog-actions .right-icons svg:hover {
    cursor: pointer;
    scale: 1.1;
}

.catalog-actions select{
    border-radius: 10px;
    border: none;
    box-shadow: var(--default-box-shadow);
    width: 150px;
    height: 30px;
}

.catalog-actions option {
    margin-top: 10px;
}

.shoes-container h1 {
    text-align: center;
}

.shoes-container .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  padding: 20px;
}

.shoes-container .card {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  box-shadow: var(--default-box-shadow);
  text-align: justify;
}

.shoes-container .card .favorite-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

.shoes-container .card .favorite-button svg:hover {
    cursor: pointer;
    scale: 1.05;
}

.shoes-container .card .card-images {
    display: flex;
    justify-content: space-evenly;
}

.shoes-container .card .card-images img:hover{
    transition: all ease-in-out 1s;
    scale: 5;
}



.shoes-container .card button {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-txt-color);
    cursor: pointer;
}

.shoes-container .card .card-buttons button{
    gap: 10px;
    margin-top: 10px;
}

.shoes-container .card button:hover {
    background-color: #3a2fa1;
    scale: 1.05;
}

.shoes-container .card .rating {
    display: flex;
    gap: 20px;
    align-items: center;
}

.shoes-container .card img {
    border: none;
    object-fit: contain;
}

.shoes-container .card .shoe-description {
    height: 15%;
}

.stars {
    margin-top: 20px;
    margin-bottom: 20px;
}

.no-products-found {
    position: absolute;
    background-color: white;
    justify-self: center;
    color: black;
    box-shadow: var(--default-box-shadow);
    padding: 30px;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .no-login-catalog-container {
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media (max-width: 480px) {
    .no-login-catalog-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .catalog-actions {
        flex-direction: column;
        height: auto;
        gap: 5px;
    }

    .catalog-actions select {
        width: 95%;
        min-height: 30px;
    }

    .catalog-actions .right-icons {
        width: 95%;
        justify-content: space-between;
    }

    .shoes-container {
        margin-top: 150px;
        margin-right: 20px;
    }
}