.custom-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-message-container .message {
    display: block;
    background: linear-gradient(to right, #1c1180, #493AD2);
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    align-content: center;
    color: white;
    height: 350px;
}


.custom-message-container .message button { 
    margin-top: 10px;   
    border: none;
    width: 180px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

.custom-message-container .message button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgb(29, 0, 146, 0.5);
}

.custom-message-container .message .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .custom-message-container .message {
        width: 90%;
        padding: 20px;
        height: auto;
    }

    .custom-message-container .message .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
}
