.home-container {
    display: flex;
    margin-top: 30px;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    gap: 20px;
}

.home-container .banner {
    display: flex;
    width: 50%;
    height: 400px;
    border-radius: 30px;
    margin-top: 5px;
    box-shadow: var(--default-box-shadow);
    justify-content: center;
    align-content: center;
    object-fit: contain;
}

.home-container .banner p {
    font-size: 16px;
}

.home-container .banner button {
    background-color: white;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

.home-container .banner button:hover {
    scale: 1.05;
}

.home-container .banner .objects {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-left: 100px;
    margin-right: 100px;
    height: 400px;
}

.home-container .banner .objects .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.home-container .banner .objects .words{
    width: 30%;
    color: white;
}


.home-container .banner .shoes {
   width: 50%;
}

.home-container .banner .banner-image {
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.category-selection {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
}

.category-selection .category-circle {
    width: 50px;
    height: 50px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}

.banner2 {
    width: 50%;
}

.banner2-top {
    display: flex;
    width: 100%;
    height: 400px;
    box-shadow: var(--default-box-shadow);
    background-color: aqua;
    border-radius: 30px;
    align-items: center;
}

.banner2 .banner2-top .background{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner2 .banner2-top .objects {
    display: flex;
    position: absolute;
    width: 100%;
}

.banner2 .banner2-top .words {
    display: flex;
    flex-direction: column;
}

.banner2 .banner2-top .words h2 {
    color: white;
    width: 20%;
}


.banner2 .banner2-top .words p {
    color: white;
    font-size: 10px;
    width: 20%;
}



.banner2 .banner2-top .shoes2 {
    width: 20%;
    margin: 0px;
}


@media (max-width: 768px) {
    .home-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .home-container .banner .objects{
        height: 550px;
        width: 85%;
    }

    .home-container .banner .content {
        flex-direction: column;
    }

    .home-container .banner {
        height: 550px;
    }

    .home-container .banner .banner-image {
        height: 550px;
    }
    
    .home-container .banner .objects .words {
        width: 40%;
    }
     .home-container .banner .objects .words p {
        font-size: 10px;
    }


}

@media (max-width: 480px) {
    .home-container .banner .objects .content {
        flex-direction: column;
        gap: 20px;
    }


    .home-container .banner .objects .words  {
        text-align: center;
        width: 40%;
    }
}