.home-container {
    display: flex;
    margin-top: 30px;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.home-container .banner {
    display: flex;
    width: 100%;
    height: 400px;
    border-radius: 30px;
    margin-top: 5px;
    box-shadow: var(--default-box-shadow);
    justify-content: center;
    align-content: center;
    object-fit: contain;
}

.home-container .banner .objects {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25%;
    padding: 0px;
    margin-left: 100px;
    margin-right: 100px;
    height: 400px;
}

.home-container .banner .objects .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.home-container .banner .objects .words{
    width: 30%;
    color: white;
}


.home-container .banner .shoes {
    width: 300px;
}

.home-container .banner .objects .banner-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}


@media (max-width: 768px) {
    .home-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .home-container .banner .objects{
        width: 95%;
    }
    
    .home-container .banner .objects .words h1 {
        font-size: var(--font-size-lg);
    }
     .home-container .banner .objects .words p {
        font-size: var(--font-size-sm);
    }
}