
.home-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    height: 280vh;
}

.home-container .header {
    display: flex;
    width: 100%;
    gap: 20px;

}

.home-container .header .banner {
    display: flex;
    width: 50%;
    height: 400px;
    border-radius: 30px;
    margin-top: 5px;
    box-shadow: var(--default-box-shadow);
    justify-content: center;
    align-content: center;
    object-fit: contain;
}

.home-container .banner p {
    font-size: 16px;
}

.home-container .banner button {
    background-color: white;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}

.home-container .banner button:hover {
    scale: 1.05;
}

.home-container .header .banner .objects {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-left: 100px;
    margin-right: 100px;
    height: 400px;
}

.home-container .banner .objects .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.home-container .banner .objects .words{
    width: 45%;
    color: white;
}


.home-container .banner .shoes {
   width: 45%;
}

.home-container .banner .banner-image {
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.category-selection {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
}

.category-selection .category-circle {
    width: 50px;
    height: 50px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}

.popular-shoes .card {
  width: 100%;
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: var(--default-box-shadow);
  text-align: justify;
}

.popular-shoes {
    display: flex;
    flex-direction: column;
}

.popular-shoes .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  padding: 20px;
}

.popular-shoes .card button {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-txt-color);
    cursor: pointer;
}

.popular-shoes .card img {
    border: none;
    object-fit: contain;
}

.home-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-categories .home-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.home-categories .category-card {
    width: 40%;
    height: 200px;
    border-radius: 20px;
    box-shadow: var(--default-box-shadow);
}


@media (max-width: 768px) {
    .home-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .home-container .banner .objects{
        height: 550px;
        width: 50%;
    }

    .home-container .banner .content {
        flex-direction: column;
        width: 80%;
    }

    .home-container .banner {
        height: 550px;
    }

    .home-container .banner .banner-image {
        height: 550px;
    }
    
    .home-container .banner .objects .words {
        text-align: center;
        width: 100%;
    }
     .home-container .banner .objects .words p {
        font-size: 10px;
    }

    .home-container .banner .objects .words h2 {
        text-align: center;
    }

    .home-container .banner .objects .shoes {
        width: 90%;
    }


}

@media (max-width: 480px) {
    .home-container .banner .objects .content {
        flex-direction: column;
        gap: 20px;
    }


    .home-container .banner .objects .words  {
        text-align: center;
        width: 90%;
    }
}