.home-container {
    display: flex;
    margin-top: 30px;
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
}

.home-container .banner {
    width: 100%;
    height: 200px;
    border-radius: 50px;
    box-shadow: var(--default-box-shadow);
}