.login-container {
  position: absolute;
  opacity: 0.95;
  border-radius: 30px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);
  inset: 0;
  margin: auto;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f5f5f5;
}



.login-form input{
  width: 100%;
  min-width: 150px;
  height: 30px;
  border-radius: 30px;
  padding: 5px;
  border: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

.login-form input:active {
  border: 2px solid var(--primary-color) ;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: None;
  font-weight: bolder;
  cursor: pointer;
}

.close-btn:hover {
  scale: 1.05;
}