.menu-container {
    position: absolute;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 150px;
    border-radius: 20px;
    padding: 15px;
    height: auto;
    gap: 15px;
    z-index: 1001;
    box-shadow: var(--default-box-shadow);
}

.menu-container button {
    border: none;
    background-color: rgb(253, 250, 250);
    padding: 10px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    color: black;
    text-align: center;
    border-radius: 10px;
}

.menu-container button:hover {
    background-color: #e0e0e0;
    scale: 1.05;
}

.custom-message {
    display: flex;
    position: fixed;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 400px;
    margin-right: 400px;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1003;
}


