.nav-bar-container {
    position: relative;
    background-color: transparent;
    padding: var(--spacing-base);
    top: 20px;
    padding: 25px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: var(--font-size-xs);
    color: var(--default-text-color);
    height: 30px;
    border-radius: 20px;
    box-shadow: var(--default-box-shadow);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.nav-bar-container .search-bar-container {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.search-bar-container .search-input {
    width: 100%;
    max-width: 400px;    
    padding: 8px 12px;
    border: 1px solid var(--secondary-color);
    border-radius: 30px;
    font-size: var(--font-size-base);
    margin: 20px 20px
}

.nav-bar-container .nav-logo {
    justify-content: left;
    align-items: left;
}

.nav-bar-container .nav-logo:hover {
    cursor: pointer;
    scale: 1.05;
}

.nav-bar-container .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.nav-bar-container .nav-link-item {
    display: flex;
    flex-direction: row;
    color: var(--default-text-color);
    align-items: center;
    font-weight: bold;
    gap: 10px;
    padding: 4px;
    border-radius: 20px;
}

.nav-bar-container .nav-link-item:hover {
    cursor: pointer;
    color: var(--primary-color);
    background-color: aliceblue;
    padding: 4px;
}

.nav-bar-container button {
    display: flex;
    flex-direction: row;
    background: none;
    align-items: center;
    border: none;
    cursor: pointer;
    color: var(--primary-txt-color);
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    gap: 10px;
    font-size: var(--font-size-xs);
    background-color: #1c1180;
}

.nav-bar-container button:hover {
    background-color: #3a2fa1;
    scale: 1.05;
}

.user-profile img {
    width: 100%;
    height: 60px;
    border-radius: 30px;
}


@media (max-width: 768px) {
    .nav-bar-container {
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 20px;
        margin-right: 0px;
    }

    .nav-bar-container .nav-logo {
        width: 150px;
        height: auto;
    }

    .nav-link-item h1 {
        display: none;
    }

    .nav-bar-container button h1 {
        display: none;
    }
}

@media (max-width: 480px) {
    .search-bar-container .search-input{
        display: none;
    }

    .nav-bar-container {
        padding-left: 8%;
        padding-right: 8%;
    }

    .nav-bar-container .nav-logo {
        width: 100px;
        height: 40px;
    }

    .nav-bar-container .nav-links {
        gap: 5px;
    }
    
}


