.no-login-catalog-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100vh;
    margin-right: 100px;
    margin-left: 100px;
}

.no-login-catalog-container .catalog-actions {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.catalog-actions select{
    border-radius: 10px;
    border: none;
    box-shadow: var(--default-box-shadow);
    width: 150px;
    height: 30px;
}

.catalog-actions option {
    margin-top: 10px;
}

.shoes-container h1 {
    text-align: center;
}

.shoes-container .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
}

.shoes-container .card {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  box-shadow: var(--default-box-shadow);
  text-align: justify;
}

.shoes-container .card button {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-txt-color);
    cursor: pointer;
}

.shoes-container .card button:hover {
    background-color: #3a2fa1;
    scale: 1.05;
}

.shoes-container .card .rating {
    display: flex;
    gap: 20px;
    align-items: center;
}

.stars {
    margin-top: 20px;
    margin-bottom: 20px;
}