.sign-in-container {
  position: absolute;
  opacity: 0.95;
  border-radius: 30px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.8);
  inset: 0;
  margin: auto;
  padding: 40px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f5f5f5;
}

.sign-in-form {
  width: 100%;
  text-align: center;
}

.sign-in-form input{
  width: 100%;
  height: 30px;
  border-radius: 30px;
  padding: 5px;
  border: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
}

.sign-in-form input:active {
  border: 0px solid var(--primary-color) ;
}

.social-sign-in-method {
  margin-top: 40px;
}

.social-sign-in-method button{
  border: None;
  background-color: transparent;
}

.social-sign-in-method button:hover {
  scale: 1.05;
  cursor: pointer;
}

.login-click:hover {
  scale: 1.05;
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 40px;
  border: None;
  background-color: var(--primary-color);
  color: var(--primary-txt-color);
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #3a2fa1;
}

.forgot-password {
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  border: None;
  font-weight: bolder;
  cursor: pointer;
}

.close-btn:hover {
  scale: 1.05;
}